<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Lista de trabajos TODO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <script src="app.js"></script>
</head>
<body  ng-controller="todoController">

    <ul>
        <li ng-repeat="actividad in listaActividades">
           <!-- {{actividad.accion}} -
            {{actividad.hora | date: 'short'}} -->
            {{actividad.accion}}
        </li>
    </ul>

    <form ng-submit="addLista()"> <!-- funciona tando dandole al enter o submit -->
        <!-- <input type="text" ng-model="actividades.accion"><br/>
        <input type="datetime-local" ng-model="actividades.hora"><br/> -->
           <input type="text" ng-model="actividades.accion"><br/>
         <input type="submit" ng-click="addLista()" value="Añadir actividad">
     </form>
    <button ng-click="borrarLista()">Borrar Lista</button>


 </body>
 </html>