<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>World Tour</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="paisesMundoApp" ng-controller="paisesMundoCtrl">
        <header>
            <h1>{{titulo}} {{ 1 + 1}}</h1>
        </header>
        <hr>
        <section name="region_selector">
            <div class="form-inline">
                <label for="region_code">Elige un continente</label>
                <select class="form-control" ng-model="region_code" ng-change="cargarPaises()">
                    <option value="europe">Europa</option>
                    <option value="asia">Asia</option>
                    <option value="africa">Africa</option>
                    <option value="americas">America</option>
                </select>
                {{region_code}}
            </div>
           <!-- {{lista_paises}}  -->
        </section>
        <hr>
        <section name="country_list" class="container">
            <div class="row row-fluid">
                <h2>Lista de paises</h2>
                <div class="col-md-6" name="busqueda">
                    <label for="search_field">Busqueda</label>
                    <input type="search" class="form-control" ng-model="buscar" placeholder="Búsqueda de países...">
                </div>
                <div class="=col-md-6" name="ordenar">
                    <label for="orden">Ordenar</label>
                    </br>
                    <div class="btn-group" name="ordenar_campo">
                        <button type="button" class="btn btn-sucess" ng-click="order_field='name'">Nombre</button>
                        <button type="button" class="btn " ng-click="order_field='population'">Población</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row row-fluid">
                <div class="col-md-6" ng-repeat="paises in lista_paises | filter:buscar | orderBy:order_field">
                    <!--  {{paises}}  -->
                    <div class="col-md-4">
                        <img src="http://www.geonames.org/flags/x/{{paises.alpha2Code | lowercase}}.gif" class="img-responsive"></img>
                    </div>
                    <div class="col-md-8">
                        <h4 name="nombre">{{paises.name}}</h4>
                        <p name="poblacion">{{paises.population | number:0}} habitantes</p>
                        <p name="capital">capital {{paises.capital}} </p>
                        <img src="http://openweathermap.org/img/w/04d.png" /><span name="weather_description">Predicción del tiempo</span> in {{paises.capital}}
                    </div>
                    <p/>
                </div>
            </div>
        </section>

    </body>
</html>