<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appcontrolador as vm">
<head>
    <meta charset="UTF-8">
    <title>Uso de ng-repeat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <input type="text" ng-model="vm.campotexto">
    <br/>
    <br/>
    <select ng-model="vm.camposelect">
        <option value="uno">1</option>
        <option value="dos">2</option>
    </select>
    <input type="button" ng-click="vm.agregarValores()" value="Pulsa aquí">


<script>
    var app = angular.module("app", []);
    app.controller("appcontrolador",function(){
        var vm=this;
        vm.camposelect = "uno";
        vm.campotexto="Uno";

        vm.textos = [];        //se crea un array

        vm.agregarValores=function () {
            vm.textos.push(vm.campotexto);
        }

    });
</script>
</body>
</html>