<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appcontrolador as vm">
<head>
    <meta charset="UTF-8">
    <title>Uso de ng-repeat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
    <input type="text" ng-model="vm.campotexto">
    <br/>
    <select ng-model="vm.camposelect">
        <option value="uno">1</option>
        <option value="dos">2</option>
    </select>
    <br/>
    <!--{{vm.campotexto}} - {{vm.camposelect}}  -->
    <ol>
        <li ng-repeat="actual in vm.textos">
            {{actual}}
        </li>
    </ol>
    <input type="button" ng-click="vm.agregarValores()" value="Pulsa aquí para agregar texto">


<script>
    var app = angular.module("app", []);
    app.controller("appcontrolador",function(){
        var vm=this;
        //vm.camposelect = "";
        vm.campotexto="";

        vm.textos = [];        //se crea un array

        vm.agregarValores=function () {
            vm.textos.push(vm.campotexto);
        }

    });
</script>
</body>
</html>